<!DOCTYPE html>
<html>
<head>
<title>Plop Viewer</title>
<script src="/static/d3.v2.js"></script>
<script src="/static/plop.js"></script>
</head>
<body>
  <svg width="0" height="0" id="graph">
    <defs>
      <!-- from http://www.w3.org/TR/SVG/painting.html#Markers -->
      <!-- Increasing refX moves the marker away from the end of the line -->
      <marker id="Triangle"
              viewBox="0 0 10 10" refX="30" refY="5"
              markerUnits="strokeWidth"
              markerWidth="4" markerHeight="3"
              orient="auto">
        <path d="M 0 0 L 10 5 L 0 10 z" />
      </marker>
    </defs>
  </svg>
  <button id="calls">Calls</button>
  <button id="time">Time</button>
  <p/>
    
   <div id="treemap" style="width: 1600px; height: 1600px; position:relative">
   </div>
  <script>fetchData()</script>
</body>
</html>
