<!DOCTYPE html>
<html>
<head>
<title>Treemap</title>
<script src="/static/d3.v2.js"></script>
<script src="/static/treemap.js"></script>
</head>
<body>
  <button id="calls">Calls</button>
  <button id="time">Time</button>
  <p/>
    
   <div id="treemap-outer" style="width: 1200px; height: 1200px; position:relative">
     <div id="treemap"></div>
   <svg id="overlay" width="1200" height="1200" style="z-index: 1; position:absolute; pointer-events: none">
      <!-- from http://www.w3.org/TR/SVG/painting.html#Markers -->
      <marker id="Triangle"
              viewBox="0 0 20 20" refX="0" refY="10"
              markerUnits="strokeWidth"
              markerWidth="4" markerHeight="3"
              orient="auto">
        <path d="M 0 0 L 20 10 L 0 20 z" />
      </marker>
   </svg>

   </div>
   <script>fetchData()</script>
</body>
</html>
